- name: Enable repositories on APT-based systems
  ansible.builtin.include_tasks: tasks/apt-repos.yml
  when: "ansible_pkg_mgr == 'apt'"

- name: Enable repositories on dnf-based systems
  ansible.builtin.include_tasks: tasks/dnf-repos.yml
  when: "ansible_pkg_mgr == 'dnf'"

- name: Define package list per package manager
  ansible.builtin.set_fact:
    common_packages:
      - gh
      - flatpak
      - tmux
      - jq
      - curl
      - fzf
      - gimp
      - ripgrep
      - htop
      - btop
      - lsof
      - copyq
      - emacs
      - bat
      - git-delta
      - zoxide
      - thefuck
      - thunderbird
    pkg_mgr_packages:
      apt:
        - libwebkit2gtk-4.1-0
        - tealdeer
        - firefox-esr
        - docker-ce
        - docker-ce-cli
        - docker-compose-plugin
      dnf:
        - webkit2gtk4.0
        - tldr
        - firefox
        - docker
        - docker-cli
        - docker-compose

- name: Define language packages
  ansible.builtin.set_fact:
    language_packages_common:
      - nodejs
      - npm
      - shellcheck
      - luarocks
      - make
      - ansible-lint
      - python3-pip
    language_packages_by_mgr:
      apt:
        - g++
        - sqlite3
        - libsqlite3-dev
        - libsqlite3-tcl
      dnf:
        - g++
        - gcc-c++
        - sqlite
        - sqlite-devel
        - sqlite-tcl

- name: Define sway packages
  ansible.builtin.set_fact:
    sway_packages_common:
      - sway
      - fuzzel
      - blueman
      - pulseaudio-utils
      - network-manager-applet
      - kanshi
      - thunar
      - wl-mirror
      - waybar
      - wl-clipboard
      - mpc
      - mpv
      - grim
      - slurp
      - light
      - ncmpcpp
      - pavucontrol
      - swaylock
      - swaybg
      - wdisplays
      - swappy
      - wf-recorder
      - wlogout
    sway_packages_by_mgr:
      apt:
        - gtklock
        - mako-notifier
        - sway-notification-center
      dnf:
        - mako
        - SwayNotificationCenter

- name: Install packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ common_packages + (pkg_mgr_packages[ansible_pkg_mgr] | default([])) }}"

- name: Install languages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ language_packages_common + (language_packages_by_mgr[ansible_pkg_mgr] | default([])) }}"

- name: Install applications used for sway setup
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
    state: present
  loop: "{{ sway_packages_common + (sway_packages_by_mgr[ansible_pkg_mgr] | default([])) }}"

- name: Add Flathub remote
  become: true
  ansible.builtin.command: flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
  register: flathubremote
  changed_when: flathubremote.rc != 0

- name: Define package list per package manager
  ansible.builtin.set_fact:
    flathub_packages:
      - com.slack.Slack
      - com.wps.Office
      - com.spotify.Client
      - app/one.ablaze.floorp/x86_64/stable

- name: Install Flathub packages
  become: true
  community.general.flatpak:
    name: "{{ item }}"
    state: present
  loop: "{{ flathub_packages }}"
