# Install base productivity applications
- name: Install packages
  become: true
  ansible.builtin.package:
    name:
      - tmux
      - jq
      - curl
      - fzf
      - gimp
      - ripgrep
      - htop
      - btop
      - lsof
      - shutter
      - openfortivpn
      - copyq
      - emacs
      - bat
      - git-delta
      - zoxide
      - thefuck
      - fd-find
      - thunderbird
      - '{{ "webkit2gtk4.0" if ansible_pkg_mgr != "apt" else "libwebkit2gtk-4.1-0" }}'
      - '{{ "tldr" if ansible_pkg_mgr != "apt" else "tealdeer" }}'
      - '{{ "firefox" if ansible_pkg_mgr != "apt" else "firefox-esr" }}'
      - '{{ "gtklock" if ansible_pkg_mgr != "dnf" else "curl" }}'
      - '{{ "docker" if ansible_pkg_mgr != "apt" else "curl" }}'
      - '{{ "docker-compose" if ansible_pkg_mgr != "apt" else "curl" }}'
    state: present

- name: Install languages
  become: true
  ansible.builtin.package:
    name:
      - nodejs
      - npm
      - shellcheck
      - luarocks
      - make
      - ansible-lint
      - '{{ "python3-pip" if ansible_pkg_mgr != "pacman" else "python-pip" }}'
      - '{{ "g++" if ansible_pkg_mgr != "pacman" else "gcc" }}'
      - '{{ "sqlite" if ansible_pkg_mgr != "apt" else "sqlite3" }}'
      - '{{ "sqlite-devel" if ansible_pkg_mgr != "apt" else "libsqlite3-dev" }}'
      - '{{ "sqlite-tcl" if ansible_pkg_mgr != "apt" else "libsqlite3-tcl" }}'

- name: Install docker on apt based systems
  ansible.builtin.include_tasks: tasks/apt-docker.yml
  when: "ansible_pkg_mgr == 'apt'"

# sudo groupadd docker
- name: Create "docker" group
  become: true
  ansible.builtin.group:
    name: "docker"
    state: present

# sudo usermod -aG docker $USER
- name: Add remote user to "docker" group
  become: true
  ansible.builtin.user:
    name: "{{ ansible_user }}"
    group: "docker"
    append: true
