- name: Installing stow
  become: true
  ansible.builtin.package:
    name: stow
    state: present

- name: Clone dotfiles repository # noqa: latest[git]
  ansible.builtin.git:
    repo: https://github.com/arnevm123/dotfiles.git
    dest: ~/dotfiles
    recursive: true
    force: true

- name: Clone tpm repository # noqa: latest[git]
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: ~/.tmux/plugins/tpm
    recursive: true
    force: true

- name: Remove .zshrc file
  become: true
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/.zshrc"
    state: absent

- name: Remove .zshenv file
  become: true
  ansible.builtin.file:
    path: "{{ lookup('env', 'HOME') }}/.zshenv"
    state: absent

- name: Remove .gitconfig file
  become: true
  ansible.builtin.file:
    path: "{{ user_home }}/.gitconfig"
    state: absent

- name: Stow dotfiles
  ansible.builtin.shell: "cd {{ user_home }}/dotfiles && ./linux"
  changed_when: false

- name: Get the master branch of my nvim config
  ansible.builtin.shell: cd $HOME/.config/nvim && git checkout master
  changed_when: false

- name: Setup keyd config
  become: true
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/dotfiles/keyd/default.conf"
    dest: /etc/keyd/default.conf
    owner: root
    group: root
    mode: "0644"
