- name: Installing stow
  become: true
  ansible.builtin.package:
    name: stow
    state: present

- name: Clone dotfiles repository # noqa: latest[git]
  ansible.builtin.git:
    repo: https://github.com/arnevm123/dotfiles.git
    dest: "{{ ansible_env.HOME }}/dotfiles"
    recursive: true
    force: true

- name: Clone tpm repository # noqa: latest[git]
  ansible.builtin.git:
    repo: https://github.com/tmux-plugins/tpm
    dest: "{{ ansible_env.HOME }}/.tmux/plugins/tpm"
    recursive: true
    force: true

- name: Remove .zshrc file
  become: true
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zshrc"
    state: absent

- name: Remove .zshenv file
  become: true
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.zshenv"
    state: absent

- name: Remove .gitconfig file
  become: true
  ansible.builtin.file:
    path: "{{ ansible_env.HOME }}/.gitconfig"
    state: absent

- name: Stow dotfiles
  ansible.builtin.shell: "cd {{ ansible_env.HOME }}/dotfiles && ./linux"
  changed_when: false

- name: Get the master branch of my nvim config
  ansible.builtin.shell: cd $HOME/.config/nvim && git checkout master
  changed_when: false

- name: Ensure keyd config directory exists
  become: true
  ansible.builtin.file:
    path: /etc/keyd
    state: directory
    owner: root
    group: root
    mode: "0755"

- name: Setup keyd config
  become: true
  ansible.builtin.copy:
    src: "{{ ansible_env.HOME }}/dotfiles/keyd/default.conf"
    dest: /etc/keyd/default.conf
    owner: root
    group: root
    mode: "0644"
