- name: Enable Copr repository
  become: true
  ansible.builtin.command: dnf copr enable -y erikreider/SwayNotificationCenter
  when: ansible_pkg_mgr == 'dnf'
  changed_when: true

- name: Enable Docker repository on APT-based systems
  ansible.builtin.include_tasks: tasks/apt-docker.yml
  when: "ansible_pkg_mgr == 'apt'"
