- name: Install Flatpak
  become: true
  ansible.builtin.package:
    name: flatpak
    state: present

- name: Add Flathub remote
  become: true
  ansible.builtin.command: flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
  register: flathubremote
  changed_when: flathubremote.rc != 0

- name: Install Flathub packages
  become: true
  community.general.flatpak:
    name:
      - com.slack.Slack
      - com.wps.Office
      - com.spotify.Client
      - com.visualstudio.code
      - app/one.ablaze.floorp/x86_64/stable
      - io.github.mahmoudbahaa.outlook_for_linux
