- name: Install Atuin
  ansible.builtin.include_tasks: tasks/manual/atuin.yml

- name: Install Keyd
  ansible.builtin.include_tasks: tasks/manual/keyd.yml

- name: Install GoLang
  ansible.builtin.include_tasks: tasks/manual/golang.yml

- name: Install deno
  ansible.builtin.include_tasks: tasks/manual/deno.yml

- name: Install rust
  ansible.builtin.include_tasks: tasks/manual/rust.yml

- name: Install nvim
  ansible.builtin.include_tasks: tasks/manual/nvim.yml

- name: Install gtklock on fedora
  ansible.builtin.include_tasks: tasks/manual/gtklock.yml
  when: "ansible_pkg_mgr == 'dnf'"
