- name: Download Atuin setup script
  ansible.builtin.get_url:
    url: https://setup.atuin.sh
    dest: /tmp/atuin_install.sh
    mode: '0755'

- name: Run Atuin installer
  ansible.builtin.shell: /tmp/atuin_install.sh
  args:
    creates: /home/{{ ansible_user}}/.atuin/bin/atuin

- name: Clone the keyd repository
  become: true
  git:
    repo: https://github.com/rvaiya/keyd
    dest: /opt/keyd
    version: master

- name: Make keyd trusted
  ansible.builtin.command: >
    git config --global --add safe.directory /opt/keyd

- name: Compile and install keyd
  become: true
  ansible.builtin.command: sudo make
  args:
    chdir: /opt/keyd

- name: Compile and install keyd
  become: true
  ansible.builtin.command: sudo make install
  args:
    chdir: /opt/keyd

- name: Enable and start keyd service
  become: true
  ansible.builtin.systemd:
    name: keyd
    state: started
    enabled: true

- name: setup my config
  become: true
  ansible.builtin.command: sudo cp /home/{{ ansible_user}}/dotfiles/keyd/default.conf /etc/keyd/default.conf

- name: Install gtklock on fedora
  ansible.builtin.include_tasks: tasks/gtklock.yml
  when: "ansible_pkg_mgr == 'dnf'"
