- name: Install all plugins in neovim
  ansible.builtin.command: $HOME/.local/share/bob/nvim-bin/nvim --headless +"Lazy! sync" +qa
  changed_when: false
  tags:
    - install
    - dotfiles
    - stow
