- name: Ensure .ssh directory exists.
  ansible.builtin.file:
    dest: "{{ dest_ssh_key | dirname }}"
    mode: '0700'
    state: directory

- name: Install ssh key
  ansible.builtin.copy:
    src: "{{ source_ssh_key }}"
    dest: "{{ dest_ssh_key }}"
    mode: '0600'

- name: Install ssh key public
  ansible.builtin.copy:
    src: "{{ source_ssh_key }}.pub"
    dest: "{{ dest_ssh_key }}.pub"
    mode: '0644'

- name: Install work ssh key
  ansible.builtin.copy:
    src: "{{ source_ssh_key_work }}"
    dest: "{{ dest_ssh_key_work }}"
    mode: '0600'

- name: Install work ssh key public
  ansible.builtin.copy:
    src: "{{ source_ssh_key_work }}.pub"
    dest: "{{ dest_ssh_key_work }}.pub"
    mode: '0644'

- name: Set authorized key from file
  ansible.posix.authorized_key:
    user: "{{ lookup('env', 'USER') }}"
    state: present
    key: "{{ lookup('file', item) }}"
  with_fileglob:
    - ~/.ssh/*.pub

- name: Add github.com to known_hosts
  ansible.builtin.known_hosts:
    path: "{{ ansible_env.HOME }}/.ssh/known_hosts"
    name: github.com
    key: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
