- name: Ensure .ssh directory exists.
  ansible.builtin.file:
    dest: "{{ dest_key | dirname }}"
    mode: '0700'
    state: directory
  tags:
    - dotfiles
    - install
    - ssh
- name: Install ssh key
  ansible.builtin.copy:
    src: "{{ source_key }}"
    dest: "{{ dest_key }}"
    mode: '0600'
  tags:
    - dotfiles
    - install
    - ssh
- name: Install ssh key public
  ansible.builtin.copy:
    src: "{{ source_key }}.pub"
    dest: "{{ dest_key }}.pub"
    mode: '0644'
  tags:
    - dotfiles
    - install
    - ssh
- name: Install work ssh key
  ansible.builtin.copy:
    src: "{{ source_key_work }}"
    dest: "{{ dest_key_work }}"
    mode: '0600'
  tags:
    - dotfiles
    - install
    - ssh
- name: Install work ssh key public
  ansible.builtin.copy:
    src: "{{ source_key_work }}.pub"
    dest: "{{ dest_key_work }}.pub"
    mode: '0644'
  tags:
    - dotfiles
    - install
    - ssh
- name: Set authorized key from file
  ansible.posix.authorized_key:
    user: "{{ lookup('env', 'USER') }}"
    state: present
    key: "{{ lookup('file', item) }}"
  with_fileglob:
    - ~/.ssh/*.pub
  tags:
    - dotfiles
    - install
    - ssh
    - tester
- name: Ensure github.com is a known host
  ansbile.builtlin.lineinfile:
    dest: ~/.ssh/known_hosts
    create: true
    state: present
    line: "{{ lookup('pipe', 'ssh-keyscan -t rsa github.com') }}"
    regexp: "^github\\.com"
