- name: Enable Copr repository
  become: true
  command: dnf copr enable -y erikreider/SwayNotificationCenter
  when: ansible_pkg_mgr == 'dnf'

- name: Install applications used for sway setup 1
  become: true
  ansible.builtin.package:
    name:
      - sway
      - fuzzel
      - blueman
      - pulseaudio-utils
      - network-manager-applet
      - kanshi
      - thunar
      - wl-mirror
      - '{{ "SwayNotificationCenter" if ansible_pkg_mgr != "apt" else "sway-notification-center" }}'
      - '{{ "swappy" if ansible_pkg_mgr != "apt" else "curl" }}'
      - '{{ "wlogout" if ansible_pkg_mgr != "pacman" else "curl" }}'
  tags:
    - install
    - sway
    - productivity

- name: Install wlogout on arch
  changed_when: false
  ansible.builtin.command: yay -S wlogout --noconfirm
  when: "ansible_pkg_mgr == 'pacman'"
  tags:
    - install
    - sway
    - productivity

- name: Install applications used for sway setup 2
  become: true
  ansible.builtin.package:
    name:
      - waybar
      - wl-clipboard
      - mpc
      - mpv
      - grim
      - slurp
  tags:
    - install
    - sway
    - productivity

- name: Install applications used for sway setup 3
  become: true
  ansible.builtin.package:
    name:
      - light
      - '{{ "mako" if ansible_pkg_mgr != "apt" else "mako-notifier" }}'
      - ncmpcpp
      - pavucontrol
      - swaylock
      - swaybg
      - wdisplays
  tags:
    - install
    - sway
    - productivity
