- name: Install ZSH
  become: true
  ansible.builtin.package:
    name: zsh
    state: present
  changed_when: false

- name: Change shell to zsh for current user
  become: true
  ansible.builtin.user:
    name: "{{ ansible_env.USER }}"
    shell: "{{ lookup('pipe', 'which zsh') }}"

- name: Check that the oh my zsh folder exists
  ansible.builtin.stat:
    path: ~/.oh-my-zsh
  register: ohmyzsh_dir
  changed_when: false

- name: Download Oh My Zsh installation script
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.get_url:
    url: https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh
    dest: /tmp/install-oh-my-zsh.sh
    mode: 'u+x'

- name: Run Oh My Zsh installation script
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.script: /tmp/install-oh-my-zsh.sh --unattended

- name: Install pyautoenv # noqa: latest[git]
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.git:
    repo: 'https://github.com/hsaunders1904/pyautoenv.git'
    dest: "~/.oh-my-zsh/plugins/pyautoenv"
    force: true

- name: Install zsh-autosuggestions # noqa: latest[git]
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.git:
    repo: 'https://github.com/zsh-users/zsh-autosuggestions.git'
    dest: "~/.oh-my-zsh/plugins/zsh-autosuggestions"
    force: true

- name: Install zsh-z # noqa: latest[git]
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.git:
    repo: 'https://github.com/agkozak/zsh-z'
    dest: "~/.oh-my-zsh/plugins/zsh-z"
    force: true

- name: Install omz-git # noqa: latest[git]
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.git:
    repo: 'https://github.com/tnwinc/omz-git.git'
    dest: "~/.oh-my-zsh/plugins/omz-git"
    force: true

- name: Install zsh-autosuggestions # noqa: latest[git]
  when: not ohmyzsh_dir.stat.exists
  ansible.builtin.git:
    repo: 'https://github.com/tnwinc/omz-git.git'
    dest: "~/.oh-my-zsh/plugins/omz-git"
    force: true

- name: Install zsh apikeys
  ansible.builtin.copy:
    src: "{{ source_api }}"
    dest: "{{ dest_api }}"
    mode: '0600'
