- name: Check if cargo is installed
  changed_when: false
  ansible.builtin.command: ~/.cargo/bin/cargo --version
  register: cargo_exists
  ignore_errors: true

- name: Download Installer
  when: cargo_exists is failed
  ansible.builtin.get_url:
    url: https://sh.rustup.rs
    dest: /tmp/sh.rustup.rs
    mode: '0755'
    force: 'yes'

- name: Install rust/cargo
  when: cargo_exists is failed
  changed_when: false
  ansible.builtin.command: /bin/bash /tmp/sh.rustup.rs -y
